@model IEnumerable<DogGo.Models.Walker>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neighborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Walker walker in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => walker.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => walker.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => walker.Neighborhood.Name)
            </td>
            <td>
                <img src="@walker.ImageUrl" alt="avatar" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=walker.Id }) |
                @Html.ActionLink("Details", "Details", new { id=walker.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=walker.Id })
            </td>
        </tr>
}
    </tbody>
</table>
